$main-font: "Montserrat", sans-serif;

$main-color: black;
$background-color: #fdc100;

$width-s: 601px;
$width-l: 1100px;
$width-xl: 1300px;

@mixin desktop {
  @media (min-width: $width-s) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  color: $main-color;
}

.container {
  margin: 0 15px;

  @media (min-width: $width-xl) {
    width: $width-xl;
    margin: 0 auto;
  }
}
